# Frontend
node_modules
dist

# Backend
.venv
.pants.d
hf_cache

# Pipeline
runs/
datasets/

# Python
__pycache__

# Secrets
.env

# Artifacts
artifacts

# Models
trellisv1
trellisv2

# Notes
notes.txt

# VSCode
.vscode
