.video-node {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-radius: 6px;
  overflow: hidden;
  display: block;
  line-height: 0;
  position: relative;
}

.video-node video {
  user-select: none;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}
