The cluster you are analyzing has the original title "{{ ctx.title }}"
It contains the following items:
{% for token in ctx.elements %}
- {{ token.type | capitalize }} - Title: "{{ token.title }}"
  Description: "{{ token.description }}"
{% endfor %}
