{% if ctx.type == "text" %}
The item contains the following text:
{{ ctx.text }}

{% elif ctx.type == "image" %}
The item contains the following image.

{% elif ctx.type == "video" %}
The item contains the following video content, represented as extracted frames.

{% elif ctx.type == "model" %}
The item contains the following 3D model, represented as rendered views.

{% elif ctx.type == "palette" %}
The item contains the following color palette:
{{ ctx.text }}
Only a title is required; set the description to "None".

{% endif %}
