.image-node {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-radius: 6px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-node img {
  user-select: none;
  pointer-events: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Resizer styling */
.node-resizer-line {
  border-width: 2px;
  border-color: #2563eb;
}

.node-resizer-handle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #2563eb;
  border: 2px solid #fff;
}
